snippet para
Parameters
----------
${1:A} : ${2:type}
    ${3:docstring}
endsnippet

snippet addp
${1:A} : ${2:type}
    ${3:docstring}
endsnippet

snippet example
Example::
    >>> ${1: start coding}
endsnippet
